<app-header></app-header>
<div class="col-12 d-flex justify-content-center pt-5" data-aos="fade-down" data-aos-duration="500" >
    <div class="col-sm-4 card">
        <p class="text-danger text-center p-2">enter your email</p>

        <input class="form-control text-center" placeholder="Email ?" type="email" name="email" id="email" [(ngModel)]="email">

        <div class="text-center ">
            <button class="btn btn-outline-danger" (click)="changePass()">change pass</button>
        </div>
    </div>
</div>