[class *='col-']{
    float: left;
}

@media only screen and (max-width: 600px) {
    div .show_frist_Request  {
      padding: 0px;
    }
    div .notifys{
        font-size: 12px;
    }
    div .show_frist_Request{
        padding-top: 0px;
    }
    div div .notify{
        padding: 40px 0px 0px 10px;
        font-size: 12px;
        margin-top: -50px;
    }
    div div .send_icon{
        height: 100px;
        width: 100px;
    }
    div .thanks{
        font-size: 12px;
    }
    div .thanks span{
        font-size: 12px;
    }

}

.content{
    padding-bottom: 150px;
    z-index: -1;
}
span{
    font-weight: bold;
}
.show_frist_Request{
    padding: 40px;
    padding-top: 0px;
}
.card{
    box-shadow: inset -2px -2px 5px rgb(144, 183, 254) , 2px 2px 5px rgb(144, 183, 254) ; 
}
.small-title{
    color: #8b005f;
    font-size: 18px;
    font-weight: 700;
    font-family: "Lobster", cursive;
    text-align: center;
}
.text{
    font-size: 15px;
    font-weight: 600;
}
.send_icon{
    height: 200px;
    width: 200px;
}
.whats{
    height: 25px;
    width: 25px;
}
.whatsLink{
    margin-left: 15px;
}
.whatsHeight{
    height: 55px;
}
.notify{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    padding-bottom: 10px;
}
.thanks{
    font-size: 18px;
    font-weight: 600;
}
.thanks span{
    font-family:  'Lobster', cursive;
    font-size: 18px;
    padding-right: 7px;
    color: rgb(0, 192, 0);
}
.notifys{
    color: white;
    animation-name: notify;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-shadow: 2px 2px 10px gray ;
    // background-color: rgb(158, 116, 155);
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
}
.notify_sign{
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Abril Fatface', cursive;
    font-family: 'El Messiri', sans-serif;
    animation-name: notify_sign;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.notify_sign:hover{
    color: yellow;
}
@keyframes notify_sign{
    from {text-shadow: -5px -5px 7px yellow, 5px 5px 10px yellow;}
}
@keyframes notify {
    0% {color: #480031;}
    50% {color: white;}
    100% {color: #480031;} ;
}
