
<app-header></app-header>

<div class="col-12 content">
    <p class="col-12 title">clients-feedback</p>
    <div class="col-sm-3 data" *ngFor="let item of feedback_arr, let i=index">
        <div class="card">
            <small class="text-info id"> userID : {{item.userID}}</small>
            <p >{{item.message}}</p>

            <div class="text-center deleteDiv">
                <button class="btn btn-outline-danger" (click)="deleteItem(feedback_keys[i])">delete</button>
            </div>
        </div>
    </div>
</div>

<app-zfooter></app-zfooter>
