
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>

<body>
    <div class="col-12 headerStyle">
        <ul class="nav">
          <li class="col-sm-2"></li>
            <li class="nav-item col-sm-8 d-flex justify-content-center">
              <a class="nav-link active pageTitle" (click)="routes('')"> Swap your shift</a>
            </li>
            <li class="nav-item col-sm-2 d-flex justify-content-end">
              <div class="toggle" *ngIf="userId">
                <a class="toggleLink"> <img class="Icon " (click)="toggle()" src="assets/man.png" alt="man"></a>
                
                <div class="show_logOut">
                  <a (click)="routes('profile')" class="title">profile <span><img class="logout_Icon" src="assets/man.png" alt="logout"></span> </a>
                </div>

                <div class="show_logOut view-div">
                  <a (click)="routes('view-shifts')" class="title-view">view shifts <span><img class="view_Icon" src="https://cdn-icons-png.flaticon.com/512/1199/1199429.png" alt="logout"></span> </a>
                </div>

                <div class="show_logOut view-div">
                  <a (click)="routes('view-holidays')" class="title-view">view holidays <span><img class="view_Icon" src="https://cdn-icons-png.flaticon.com/512/1199/1199429.png" alt="logout"></span> </a>
                </div>

                <div class="show_logOut" (click)="logOut()">
                  <a  (click)="routes('')" class="title">LogOut <span><img class="logout_Icon"  style="margin-bottom: 1px;" src="assets/logout.png" alt="logout"></span> </a>
                </div>
                
              </div>
            </li>
          </ul>

    </div>
</body>
</html>

