<app-header></app-header>

<div class="col-12">
    <div class="col-12 text-center">
        <p class="people">number of people <small class="counter">: {{counter}}</small>  </p>
        
       <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">user id</th>
                <th scope="col">user key</th>
                <th scope="col">email</th>
                <th scope="col">show</th>
                <!-- <th scope="col">delete</th> -->
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of users; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.userID}}</td>
                <td>{{users_arr_keys[i]}}</td>
                <td class="text-info">{{item.email}}</td>
                <td> 
                  <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#staticBackdrop" (click)="show_user(item)">
                    show
                  </button>
                </td>

                <!-- for deleted item -->
                <!-- <td> 
                  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#for_delete" (click)="set_Key_Delete(users_arr_keys[i],item)">
                    delete
                  </button>
                </td> -->
              </tr>
            </tbody>
        </table>
       </div>
    </div>
</div>

<app-zfooter></app-zfooter>


  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><b>user_ID</b> : {{user_ID}}</p>
          <p><b>user_name</b> : {{user_name}}</p>
          <p><b>user_email</b> : {{user_email}}</p>
          <p><b>user_phone</b> : {{user_phone}}</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal for delete user data-->
  <div class="modal fade" id="for_delete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="for_delete">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><b>user_ID</b> : {{user_ID}}</p>
          <p><b>user_name</b> : {{user_name}}</p>
          <p><b>user_email</b> : {{user_email}}</p>
          <p><b>user_phone</b> : {{user_phone}}</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <!-- <button type="button" class="btn btn-danger" (click)="delete_user(user_key)">delete user </button> -->
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>