
<div class="col-12 d-flex justify-content-center pt-5">
    <div class="card col-sm-4 p-4 login" data-aos="zoom-in" data-aos-duration="1000" *ngIf="!userExist">
        <h3 class="title">Sign In</h3>
        <a (click)="routes('register')" class="registerLink">* let's create account *</a>
        <form [formGroup]="login" (ngSubmit)="login_data()">
          
          <div class="form-group">
            <input type="email" class="form-control"  placeholder=" Email" name="email" formControlName="email" required>
            <div class="text-success" *ngIf="login.get('email')?.valid">Valid.</div>
            <div class="text-danger" *ngIf="login.get('email')?.invalid">Please enter email .</div>
          </div>

          <div class="form-group">
              <input type="password" [class.invalid]="login.get('pass')?.invalid" class="form-control" id="pwd" placeholder="Password" name="pswd" formControlName="pass" required>
              <div class="text-success" *ngIf="login.get('pass')?.valid">Valid.</div>
              <div class="text-danger" *ngIf="login.get('pass')?.invalid">Please fill with min length 6 .</div>
          </div>
            
          <div class="text-center">
            <button type="submit" class="btn btn-dark">Login</button>
          </div>
        </form>

    </div>

    <div class="col-sm-4" *ngIf="userExist">
      <div class="text-center">
        <img src="assets/let's go.png" alt="let's go" width="100%">
        <a (click)="routes('')">
          <button type="button" class="btn btnLetsGo"> Lets Go </button>
        </a>
      </div>
    </div>
</div>


<app-zfooter></app-zfooter>
