<app-header></app-header>



<div class="col-12  d-flex justify-content-center pt-1 content">
    <div class="col-sm-4">
        <p class="title">View Agent : Have-Day off</p>
        <select class="form-control mb-2 text-center" name="where" [(ngModel)]="where" id="where" (change)="view_get_holidays();clicked1()">
            <option value="site">site</option>
            <option value="home">home</option>
        </select>
        <input class="form-control" type="date" name="date" id="date" [(ngModel)]="day" (change)="view_get_holidays();clicked2()">
    </div>
</div>

<div class="col-12 data" *ngIf="get_holidays.length!=0 && clicked_1 && clicked_2">
    <div class="col-sm-3 p-3" *ngFor="let item of get_holidays ; let i=index">
        <div class="card p-3" *ngIf="get_users[i] != undefined">
            <p class="small-title">your friend request</p>
            <P class="text" *ngIf="item.SwapType !='' "> <span class="text-info"> SwapType : </span> {{item.SwapType}}</P>
            <P class="text" *ngIf="item.where !='' "> <span class="text-info"> where :  </span> {{item.where}}</P>
            <P class="text" *ngIf="item.have_day !='' "> <span class="text-info"> have day : </span> {{item.have_day}}</P>
            <P class="text" *ngIf="item.need_day !='' "> <span class="text-info"> need day :  </span> {{item.need_day}}</P>
            <P class="text" *ngIf="item.have_shift !='' "><span class="text-info"> have shift :  </span> {{item.have_shift}}</P>
            <P class="text" *ngIf="item.have_shift_type !=''  && item.have_shift_type != undefined "><span class="text-info"> have shift type:  </span> {{item.have_shift_type}}</P>
            <P class="text" *ngIf="item.need_shift !='' "> <span class="text-info"> need shift  </span> {{item.need_shift}}</P>
            <P class="text" *ngIf="item.shift_type !='' "> <span class="text-info"> need shift type : </span> {{item.shift_type}}</P>
            <P class="text" *ngIf="get_users[i].phone !='' && get_users[i].phone !='' "><span class="text-info"> phone : </span> {{get_users[i].phone}}</P>

            <P class="text whatsHeight" *ngIf="get_users[i].phone !='' ">
                 <span class="text-info"> chat what's  : </span>
                 <span> <a href="https://api.whatsapp.com/send?phone=+2{{get_users[i].phone}}" class="whatsLink" target="_blank"> {{ get_users[i].name}}
                    <img src="assets/whatsapp.png" alt="whats" class="whats">
                 </a></span></P>
        </div>
    </div>
</div>


<app-zfooter></app-zfooter>
