<div class="col-12 text-center footer">
    <div class="col-12">
        <p class="textStyle">* contact us using what's app for any problem or any questions *</p>
    </div>
    <div class="col-12  linksDiv">
            <p><a href="https://wa.me/+201211541588?text= hello!  custmer service for (swapshift site)  I need help ." target="_blank" >customer service 1</a></p>
            <p><a href="https:///wa.me/+201552951016?text= hello!  custmer service for (swapshift site)  I need help ." target="_blank" >customer service 2</a></p>
            <p><a href="https:///wa.me/+201124928181?text= hello! site owner for (swapshift site)  I need help ." target="_blank" >site manager </a>
            <p><a routerLink="feedback" >for feed back</a>  </p>
    </div>
    <div class="col-12 linksDiv AdminLinks">
        <!-- for Admin -->
        <p><a routerLink="/ad-swapshift-setAdmin-min">Add admin</a>  </p>
        <p><a routerLink="/ad-swapshift-users-min">show Users</a>  </p>
        <p><a routerLink="/ad-swapshift-feedback-min">users Feedbacks</a>  </p>
    </div>
    <p class="col-12 ending-text">Swap your shifts</p>
</div>