<div class="col-12 footer">
    <div class="col-12 text-center">
        <p class="textStyle">* contact us using what's app for any problem or any questions *</p>
    </div>
    <div class="col-12 text-center d-flex justify-content-center">
        <a href="https://wa.me/+201211541588?text= hello!  custmer service for (swapshift site)  I need help ." class="pr-4" target="_blank" >customer service 1</a>
        <a href="https:///wa.me/+201552951016?text= hello!  custmer service for (swapshift site)  I need help ." class="pr-4" target="_blank" >customer service 2</a>
        <a href="https:///wa.me/+201124928181?text= hello! site owner for (swapshift site)  I need help ." class="pr-4" target="_blank" >site manager </a>
    </div>
    <p class="col-12 ending-text">Swap your shift</p>
</div>