[class*="col-"] {
    width: 100%;
    float: left;
}

@media only screen and (max-width: 600px) {
    div div .textStyle{
        font-size: 12px;
    }
    div div a{
        font-size: 13px;
        margin: 0px 5px;
        margin-bottom: 30px;
    }
    div .col-12.ending-text{
        display: none;
        color: #ec008e;
        text-shadow: 5px 5px 10px white;
        font-weight: 500;
        text-transform: capitalize;
        word-spacing: 5px;
        font-family:  'Lobster', cursive;
        cursor: pointer;
        z-index: 2;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        word-spacing: 3px;
        display: block;
        background-image: url(/assets/callcentrer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 250px;
        padding-top: 90px;
        border-radius: 10px;
    }
}

.footer{
    background-color: #3f0026;
    width: 100%;
    font-size: 20px;
    padding: 0px;
    padding-bottom: 35px;
}
.textStyle{
    padding-top: 10px ;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.footer a{
    color: white;
    margin: 0px 25px;
    text-shadow: 5px 5px 12px pink;
    text-transform: capitalize;
}
.footer a:hover{
    color: yellow;
}
.ending-text{
    
    
}